.App {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  grid-gap: 2px;
  margin-bottom: 20px;
  justify-content: center;
}

.cell {
  width: 60px;
  height: 60px;
  background-color: #c5eff8;
  border: 1px solid #939393;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.cell:nth-child(odd) {
  background-color: #5f94ab;
}

.cell.selected {
  background-color: #e0e0ff;
}

.cell.occupied {
  color: #000;
}

.move-options {
  margin-bottom: 20px;
}

.move-options button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 14px;
}

.move-history {
  max-width: 250px;
  max-height: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.history-list {
  max-height: 150px;
  overflow-y: auto;
}

.history-list li {
  margin-bottom: 5px;
}

.history-list li:last-child {
  margin-bottom: 0;
}

.error {
  color: red;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 27px;
  font-weight: bold;
}